@{
    ViewData["Title"] = "Homepage";
	Layout = "_Layout";
}



<div>
    <title>Web Registration Project</title>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h2>Click the button below to add a user.</h2>

        <a asp-controller="Student" asp-action="List" class="btn btn-primary">List user</a>


    </div>
</div>
