@model Student

@{
	ViewData["Title"] = "Registration Page";

}
<h1>@ViewData["Title"]</h1>



<div>
    <h1>Fill in your information.</h1>
	<form method="post" asp-action="Detail">
		<p>
			<label asp-for="Name">Name:</label>
			<input asp-for="Name" />
		</p>
		<p>
			<label asp-for="Email">Email:</label>
			<input asp-for="Email" />
		</p>
		<p>
			<label asp-for="Phone">Phone:</label>
			<input asp-for="Phone" />
		</p>
		<p>
            <label asp-for="WillAttend">Participation:</label>
			<select asp-for="WillAttend" title="Click">
				<option value="">Select an option</option>
				<option value="1">yes, i'll attend</option>
				<option value="0">no, i dont attend</option>
			</select>

		</p>
		<button type="submit">Submit</button>
	</form>
</div>
