@model Student

<h2>Student Details</h2>

@if (Model == null)
{
	<p class="text-danger">HATA: Model is empty!</p>
}
else
{
	<form asp-controller="Student" asp-action="SaveDetail" method="post">
		<input type="hidden" asp-for="Id" />

		<div class="form-group">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" value="@Model.Name" required />
			<span asp-validation-for="Name" class="text-danger"></span>

		</div>

		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" value="@Model.Email" required />
			<span asp-validation-for="Email" class="text-danger"></span>

		</div>

		<div class="form-group">
			<label asp-for="Phone"></label>
			<input asp-for="Phone" class="form-control" value="@Model.Phone" required />
			<span asp-validation-for="Phone" class="text-danger"></span>

		</div>

		<div class="form-group">
			<label asp-for="WillAttend"></label>
			<select asp-for="WillAttend" class="form-control">
				<option value = "1" >Yes</option>
				<option value = "0">No</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="List" class="btn btn-secondary">Back to List</a>
	</form>
}
