@model Student
@{
	ViewData["Title"] = "Thanks";
}
<h1>@ViewData["Title"] Thanks @Model.Name</h1>



<div>
    
    <hr />
    @if (Model.WillAttend == 1)
	{
    @:Thanks for participating
	}
	else
	{
    @:We are sorry that you will not be able to attend the course.

	}
   
    <a asp-action="List">listele. </a>Course participants
</div>
